  .box {
    height: 300px;
    width: 600px;
    background-color: gray;
    cursor: pointer;
    /*
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 2s;
    */
    transition: background-color 2s linear 2s, width ease-in-out 0.5s;
  }
  
  .box:hover {
    background-color: orange;
    width: 800px;
  }